<app-header title="fabs"></app-header>

<ion-content>


  <ion-fab slot="fixed" vertical="top" horizontal="start">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="end">
      <ion-fab-button color="primary" (click)="goToCardsPage()">
        <ion-icon name="document"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="dark">
        <ion-icon name="color-palette"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="secondary">
        <ion-icon name="globe"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-fab class="fab_top-right" slot="fixed" vertical="top" horizontal="end">
    <ion-fab-button size="small">
      <ion-icon name="chevron-down-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button color="youtube">
        <ion-icon name="logo-youtube"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="facebook">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="github">
        <ion-icon name="logo-github"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>



  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button>
      <ion-icon name="chevron-up-circle"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="top">
      <ion-fab-button>
        <ion-icon name="document"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="color-palette"></ion-icon>
      </ion-fab-button>
      <ion-fab-button>
        <ion-icon name="globe"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

  <ion-list>
    @for (item of data; track item; let i = $index) {
    <ion-item>
      <ion-label>Item {{ i + 1 }}</ion-label>
    </ion-item>
    }

  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-title>Footer</ion-title>
  </ion-toolbar>
</ion-footer>