<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="" mode="ios" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title color="primary">Avatar</ion-title>

    <ion-buttons slot="end">
      <ion-avatar>
        <ion-img src="/assets/images/cat-front-view.jpeg" />
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-padding">
  <ion-chip color="primary" mode="ios" outline="true">
    <ion-avatar>
      <img src="/assets/images/cat-front-view.jpeg" />
    </ion-avatar>
    <ion-label>Chip con imagen</ion-label>
  </ion-chip>

  <ion-list>
    @for (item of [0,1,2,3,4]; track $index) {
    <ion-item>
      <ion-avatar slot="start">
        <img src="/assets/images/cat-front-view.jpeg" />
      </ion-avatar>
      <ion-label>Item con imagen</ion-label>
    </ion-item>
    }
  </ion-list>

</ion-content>