/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";


//action-sheet customization
/* Note: These styles should be located in your global stylesheet */
ion-action-sheet.my-custom-class {
  --background: #7dbaff;
  --backdrop-opacity: 0.6;
  --button-background-selected: #428adc;
  --button-color: #fff;
  --color: #fff;
  /* role: "destructive" button iOS styling override */
  --ion-color-danger: #000000;
}

//color of the trash icon in the android action sheet
.trash-red .sc-ion-action-sheet-md {
  color: #000000;
}

//date time customization
ion-datetime {
  --background: #f1f4ff;
  border-radius: 16px;
}

//date time inside modal customization

ion-datetime.datetime-custom-modal {
  --title-color: #da5296;
  --background: #fff1fb;
}

ion-datetime.datetime-custom-modal::part(calendar-day) {
  color: #da5296;
}

ion-datetime.datetime-custom-modal::part(calendar-day today) {
  color: #8462d1;
  border: 1px solid #8462d1;
}

ion-datetime.datetime-custom-modal::part(calendar-day):focus {
  background-color: rgba(206, 73, 118, 0.2);
  box-shadow: 0px 0px 0px 4px rgba(228, 159, 196, 0.2);
}

ion-datetime.datetime-custom-modal::part(calendar-day active) {
  background-color: rgba(206, 73, 118, 0.2);
  box-shadow: 0px 0px 0px 4px rgba(228, 159, 196, 0.2);
  border: none;
}



//modal with date time customization

ion-modal#example-modal,
ion-modal#wheelpicker-modal {
  --width: fit-content;
  --min-width: 250px;
  --height: fit-content;
  --border-radius: 16px;
  --box-shadow: 0 28px 48px rgba(0, 0, 0, 0.4);
}

ion-modal#example-modal ion-icon {
  margin-right: 6px;
  width: 48px;
  height: 48px;
  padding: 4px 0;
  color: #8d8d8d;
}