// Si queremos customizar un ion-input específico, basta con que le pongamos una clase
ion-input.custom {
  --background: #373737;
  --border-color: transparent;
  --color: #fff;
  --placeholder-color: #ddd;
  --placeholder-opacity: 0.8;

  --padding-bottom: 18px;
  --padding-end: 10px;
  --padding-start: 10px;
  --padding-top: 10px;

  margin-bottom: 16px;
}

ion-input.custom-two {
  --background: #bfd2ee;
  --border-color: transparent;
  --color: #000000;
  --placeholder-color: #7a7a7a;

  --padding-bottom: 18px;
  --padding-end: 10px;
  --padding-start: 10px;
  --padding-top: 10px;
  margin-bottom: 16px;
}

ion-input.mb-16,
.mb-16 {
  margin-bottom: 24px;
}